{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="flex flex-col items-center text-center justify-around min-h-screen ml-56">
    <div>
        <h1>Bienvenue {{ app.user.username }}!</h1>
        <h2>Votre entreprise en bref</h2>
    </div>
    <div class="flex items-between">
        <div class="bg-gray-200 border border-black h-72 w-lg m-8">
        </div>
        <div class="bg-gray-200 border border-black h-72 w-lg m-8">
        </div>
    </div>
     <div class="flex items-between">
        <div class="bg-gray-200 border border-black h-72 w-96 m-8">
        </div>
        <div class="bg-gray-200 border border-black h-72 w-96 m-8">
        </div>
        <div class="bg-gray-200 border border-black h-72 w-96 m-8">
        </div>
    </div>
</div>
{% endblock %}