{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div>
    <div>
        <h1>Hello {{ app.user.username }}!</h1>
    </div>
</div>
    <a href="{{ path('app_logout') }}">Deconnexion</a>
</div>
{% endblock %}
