{% extends 'base.html.twig' %}

{% block title %}HardWareHouse{% endblock %}

{% block body %}
    <div class="w-full">
        {% include 'freemium/navbar.html.twig' %}
        {% include 'freemium/home.html.twig' %}
        {% include 'freemium/content.html.twig' %}
        {% include 'freemium/stat.html.twig' %}
        {% include 'freemium/avis.html.twig' %}
        {% include 'freemium/entreprise.html.twig' %}
        {% include 'freemium/team.html.twig' %}
        {% include 'freemium/prix.html.twig' %}
    </div>

{% endblock %}
