{% extends 'base.html.twig' %}

{% block title %}Modification du Devis{% endblock %}

{% block body %}
{% include 'component/sidebar.html.twig' %}

    <div class="flex flex-col items-center justify-start pt-4 min-h-screen">
        <div class="text-center mb-8">
            <h1 class="text-4xl font-bold text-gray-800 mb-4">Modifier le Devis</h1>
            <a href="{{ path('app_devis_index') }}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                <i class="fas fa-arrow-left mr-2"></i> Retour à la liste
            </a>
        </div>

        {{ include('devis/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="mt-4">
            {{ include('devis/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
