#utilisateurTable tbody tr:nth-child(odd) {
    background-color: #ffffff;
}

#utilisateurTable tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

#utilisateurTable tbody tr {
    border-bottom: 1px solid #cccccc;
}

#utilisateurTable tbody tr:hover {
    background-color: #eaeaea;
}

#utilisateurTable th,
#utilisateurTable td {
    padding: 16px;
}

#utilisateurTable thead tr th input[type="text"] {
    height: 38px;
    margin: 0;
    padding: 5px 8px;
}