@tailwind base;
@tailwind components;
@tailwind utilities;


$principal: #1190CB;
$secondaire: #483D3F;
$tertiaire: #F4EBD9;
$quaternaire: #001242;
$grey: #DCDCDD;


body {
    background-color: white;
}
