{% extends 'base.html.twig' %}

{% block title %}Rapport Financiers{% endblock %}

{% block content %}

        <div id="mainLineChart" style="width: 600px;height:400px;"></div>

        {{ encore_entry_script_tags('line_chart') }}


{% endblock %}
