{% extends 'base.html.twig' %}

{% block title %}Rapport Financiers{% endblock %}

{% block content %}
        <div class="flex flex-col">


                <div class="h-3/4">

                </div>

                <div class="flex flex-row-reverse w-full p-8 justify-between">
                        <div id="methodes" style="width: 600px; height: 400px;"></div>

                        <div id="anneeContainer" class="flex flex-col w-fit">
                                <div id="dropdownContainer" class="self-end"></div>
                                <div id="paiementsAnnee" style="width: 900px;height:400px;"></div>
                        </div>
                </div>
        </div>


        
        
        {{ encore_entry_script_tags('line_chart') }}

<script>
    var paiementsData = {{ paiements | raw }};
    
</script>
{% endblock %}
