{% extends 'base.html.twig' %}

{% block title %}Rapport Financiers{% endblock %}

{% block content %}
        <div class="flex flex-col">


                <div class="h-3/4">

                </div>

                <div class="flex flex-col w-full p-2 justify-between sm:flex-row-reverse">
                        <div id="methodes" style="width: 600px; height: 400px;"></div>

                        <div id="anneeContainer" class="flex flex-col w-fit">
                                <div id="dropdownContainer" class="self-end"></div>
                                <div id="paiementsAnnee" style="width: 900px;height:400px;"></div>
                        </div>
                </div>
        </div>
        <a class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-base font-medium rounded-md text-white bg-blue-500 hover:bg-blue-700" href="{{ path('app_csv_methodes') }}"><i class="fa-solid fa-download mr-2"></i>CSV</a>

        
        
        {{ encore_entry_script_tags('line_chart') }}

<script>
    var paiementsData = {{ paiements | raw }};
    
</script>
{% endblock %}
