<div class="flex items-center justify-center min-h-screen">
    <div>
        <h1>Welcome {{ username }} dans la famille !</h1>
        <h3>Nous vous remercions de vous être inscrit sur notre site web. Veuillez cliquer sur le lien ci-dessous pour activer votre compte :</h3>
        <a href="{{ signedUrl }}">Cliquez Ici !</a>
    </div>
</div>
