<div class="flex items-center justify-center min-h-screen">
    <div>
        <h1>{{'email_header'|trans({'%username%': username})}}</h1>
        <h3>{{'email_body'|trans}}</h3>
        <a href="{{ signedUrl }}">{{'click_here'|trans}}</a>
    </div>
</div>
