<form method="post" action="{{ path('app_entreprise_delete', {'id': entreprise.id}) }}" onsubmit="return confirm('Êtes-vous sur de supprimer cette Entreprise ? Cette action est irréversible.');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ entreprise.id) }}">
    <button type="submit" class="font-medium text-red-600 dark:text-red-500 hover:underline focus:outline-none">
        <i class="fas fa-trash-alt"></i>
    </button>
</form>
